@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
  }
  
  .drag-handle {
    cursor: move;
    user-select: none;
  }
  
  .rnd {
    box-shadow: 0 5px 15px rgba(0, 255, 0, 0.5);
  }
  